
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Genciamento de Produtos</title>
</head>
<body>
    <h1> Gerenciamento de Produtos</h1>
    @*@<a href="~/Views/Produto/Cadastrar"> Cadastrar Produto</a>*@
    @* Link em Mvc Razor*@
    @Html.ActionLink("Cadastrar Produto", "CadastrarProduto","Produto")
    
    <div> 
    </div>
</body>
</html>
